extends ../layout

block content
  p#notice
  .property-detail
    .overview
      img(src=property.imageUrl)

    .container
      h1= property.description
      if (user.id == property.owner)
        span
          a(href='/properties/' + property.id + '/edit') Edit

      hr

      .panel.panel-default
        .panel-heading
          h3.panel-title Make a Reservation

        .panel-body
          form(action='/reservations' method='post')
            .form-group
              label Would you like to say anything to the host?
              textarea.form-control(
                name='message'
                placeholder='Hello! I am hoping to stay in your intergalactic suite...')
            input(type='hidden' name='propertyId' value=property.id)
            button.btn.btn-primary(type='submit') Reserve Now
